<div class="modal fade modal-fill-in" id="modalSuccess" aria-hidden="true"
     aria-labelledby="exampleModalSuccess" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close custom-close" data-dismiss="modal" aria-label="Close">
                    <i class="icon wb-close" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <p id="lblModalSuccess" v-text="message"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>