.skin-blue .main-header .navbar
{
    background-color: #0A0A0A !important;
}

.skin-blue .main-header .logo{
    background-color: #0A0A0A !important;

}

.content-wrapper, .right-side {
    background-color: #fff !important;
}

#loader {
    width: 130px;
    height: 150px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px;
    background: rgba(255,255,255,0.5);
    z-index: 110;
    position: fixed;
    top: 30%;
    left: 45%;
}
#text {
    width: 100%;
    font-size: 14px;
    font-family: arial;
    text-align: center;
    margin-top: 20px;
}
#circuleExtern {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background: rgba(255,213,0,0.9);
    position: relative;
    margin: 20px auto 0;
    -webkit-animation: scales 0.9s ease-in infinite alternate;
    -moz-animation: scales 0.9s ease-in infinite alternate;
    animation: scales 0.9s ease-in infinite alternate;
}
#circuleMedium {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    border-radius: 70px;
    background: #3d40a1;
    position: absolute;
    -webkit-animation: scales 0.8s ease-out infinite alternate;
    -moz-animation: scales 0.8s ease-out infinite alternate;
    animation: scales 0.8s ease-out infinite alternate;
}
#circuleCenter {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    border-radius: 50px;
    background: #009445;
    position: absolute;
    -webkit-animation: scales 1.2s ease-in-out infinite alternate;
    -moz-animation: scales 1.2s ease-in-out infinite alternate;
    animation: scales 1.2s ease-in-out infinite alternate;
}
@-moz-keyframes scales {
    from {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    to {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@-webkit-keyframes scales {
    from {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    to {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@-o-keyframes scales {
    from {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    to {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes scales {
    from {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
    to {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/* *************************************************************************************
PANELS CONFIGURATIONS
*************************************************************************************** */

/*Panel Size*/

.pn {
    height: 250px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}

.pn:hover {
    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.3);

}

/*Grey Panel*/

.grey-panel {
    text-align: center;
    background: #dfdfe1;
}
.grey-panel .grey-header {
    background: #ccd1d9;
    padding: 3px;
    margin-bottom: 15px;
}
.grey-panel h5 {
    font-weight: 200;
    margin-top: 10px;
}
.grey-panel p {
    margin-left: 5px;
}
/* Specific Conf for Donut Charts*/
.donut-chart p {
    margin-top: 5px;
    font-weight: 700;
    margin-left: 15px;
}
.donut-chart h2 {
    font-weight: 900;
    color: #FF6B6B;
    font-size: 38px;
}

/* Dark Blue*/

.darkblue-panel {
    text-align: center;
    background: #444c57;
}
.darkblue-panel .darkblue-header {
    background: transparent;
    padding: 3px;
    margin-bottom: 15px;
}
.darkblue-panel h1 {
    color: #f2f2f2;
}
.darkblue-panel h5 {
    font-weight: 200;
    margin-top: 10px;
    color: white;
}
.darkblue-panel footer {
    color: white;
}
.darkblue-panel footer h5 {
    margin-left:10px;
    margin-right: 10px;
    font-weight: 700;
}

/*Green Panel*/
.green-panel {
    text-align: center;
    background: #68dff0;
}
.green-panel .green-header {
    background: #43b1a9;
    padding: 3px;
    margin-bottom: 15px;
}
.green-panel h5 {
    color: white;
    font-weight: 200;
    margin-top: 10px;
}
.green-panel h3 {
    color: white;
    font-weight: 100;
}
.green-panel p {
    color: white;
}

/*White Panel */
.white-panel {
    text-align: center;
    background: #ffffff;
    color: #ccd1d9;
}

.white-panel p {
    margin-top: 5px;
    font-weight: 700;
    margin-left: 15px;
}
.white-panel .white-header {
    background: #f4f4f4;
    padding: 3px;
    margin-bottom: 15px;
    color: #c6c6c6;
}
.white-panel .small {
    font-size: 10px;
    color: #ccd1d9;
}

.white-panel i {
    color: #68dff0;
    padding-right: 4px;
    font-size: 14px;
}

/*STOCK CARD Panel*/
.card {
    background: white;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
    height: 250px;
}
.stock .stock-chart {
    background: #00c5de;
}
.stock .stock-chart #chart {
    height: 10.7em;
    background: url(http://i.imgbox.com/abmuNQx2) center bottom no-repeat;
}
.stock .current-price {
    background: #1d2122;
    padding: 10px;
}
.stock .current-price .info abbr {
    display: block;
    color: #f8f8f8;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0.18em;
}
.stock .current-price .changes {
    text-align: right;
}
.stock .changes .up {
    color: #4fd98b
}
.stock .current-price .changes .value {
    font-size: 1.8em;
    font-weight: 700;
}
.stock .summary {
    color: #2f2f2f;
    display: block;
    background: #f2f2f2;
    padding: 10px;
    text-align: center;
}
.stock .summary strong {
    font-weight: 900;
    font-size: 14px;
}

/*Content Panel*/
.content-panel {
    background: #ffffff;
    box-shadow: 0px 3px 2px #aab2bd;
    padding-top: 15px;
    padding-bottom: 5px;
}
.content-panel h4 {
    margin-left: 10px;
}

/*WEATHER PANELS*/

/* Weather 1 */
.weather {
    background: url(../img/weather.jpg) no-repeat center top;
    text-align: center;
    background-position: center center;
}
.weather i {
    color: white;
    margin-top: 45px;
}
.weather h2 {
    color: white;
    font-weight: 900;
}
.weather h4 {
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
}

/* Weather 2 */
.weather-2 {
    background: #e9f0f4;
}
.weather-2 .weather-2-header {
    background: #54bae6;
    padding-top: 5px;
    margin-bottom: 5px;
}
.weather-2 .weather-2-header p {
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}
.weather-2 .weather-2-header p small {
    font-size: 10px;
}
.weather-2 .data {
    margin-right: 10px;
    margin-left: 10px;
    color: #272b34;
}
.weather-2 .data h5 {
    margin-top: 0px;
    font-weight: lighter;
}
.weather-2 .data h1{
    margin-top: 2px;
}

/* Weather 3 */
.weather-3 {
    background: #ffcf00;
}

.weather-3 i {
    color: white;
    margin-top: 30px;
    font-size: 70px;
}
.weather-3 h1 {
    margin-top: 10px;
    color: white;
    font-weight: 900;
}
.weather-3 .info {
    background: #f2f2f2;
}
.weather-3 .info i {
    font-size: 15px;
    color: #c2c2c2;
    margin-bottom: 0px;
    margin-top: 10px;
}
.weather-3 .info h3 {
    font-weight: 900;
    margin-bottom: 0px;
}
.weather-3 .info p {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 16px;
    color: #c2c2c2;
    font-size: 15px;
    font-weight: 700;
}


/*Twitter Panel*/
.twitter-panel {
    background: #4fc1e9;
    text-align: center;
}
.twitter-panel i {
    color: white;
    margin-top: 40px;
}
.twitter-panel p {
    color: #f5f5f5;
    margin: 10px;
}
.twitter-panel .user {
    color: white;
    font-weight: 900;
}


/* Instagram Panel*/
.instagram-panel {
    background: url(../img/instagram.jpg) no-repeat center top;
    text-align: center;
    background-position: center center;
}
.instagram-panel i {
    color: white;
    margin-top: 35px;
}
.instagram-panel p {
    margin: 5px;
    color: white;
}

/* Product Panel */
.product-panel {
    background: #dadad2;
    text-align: center;
    padding-top: 50px;
    height: 100%;
}

/* Product Panel 2*/
.product-panel-2 {
    background: #dadad2;
    text-align: center;
}
.product-panel-2 .badge {
    position: absolute;
    top: 20px;
    left: 35px;
}
.badge-hot {
    background: #ed5565;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
}

/* Soptify Panel */
#spotify {
    background: url(../img/lorde.jpg) no-repeat center top;
    margin-top: -15px;
    background-attachment: relative;
    background-position: center center;
    min-height: 220px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#spotify .btn-clear-g {
    top: 15%;
    right: 10px;
    position: absolute;
    margin-top: 5px;
}
#spotify .sp-title {
    bottom: 15%;
    left: 25px;
    position: absolute;
    color: #efefef;
}
#spotify .sp-title h3 {
    font-weight: 900;
}
#spotify .play{
    bottom: 18%;
    right: 25px;
    position: absolute;
    color: #efefef;
    font-size: 20px
}
.followers {
    margin-left: 5px;
    margin-top: 5px;
}

/* BLOG PANEL */
#blog-bg {
    background: url(../img/blog-bg.jpg) no-repeat center top;
    margin-top: -15px;
    background-attachment: relative;
    background-position: center center;
    min-height: 150px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#blog-bg .badge {
    position: absolute;
    top: 20px;
    left: 35px;
}
.badge-popular {
    background: #3498db;
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    border-radius: 100%;
}
.blog-title {
    background: rgba(0,0,0,0.5);
    bottom: 100px;
    padding: 6px;
    color: white;
    font-weight: 700;
    position: absolute;
    display: block;
    width: 120px;
}
.blog-text {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 15px;
    font-size: 12px;
}

/* Calendar Configuration */
#calendar {
    color: white;
    padding: 0px !important;
}
.calendar-month-header {
    background: #43b1a9;
}

/* TODO PANEL */
.steps{
    display: block;
}
.steps input[type=checkbox] {
    display: none;
}
.steps input[type=submit]{
    background: #f1783c;
    border: none;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    height: 55px;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.5s ease
}
.steps input[type=submit]:hover{
    background: #8fde9c;
}
.steps label{
    background: #393D40;
    height: 65px;
    line-height: 65px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #44494e;
    color: #889199;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 1px;
    text-indent: 52px;
    cursor: pointer;
    transition: all 0.7s ease;
    margin: 0px;
}
.steps label:before{
    content:"";
    width: 12px;
    height: 12px;
    display: block;
    position: absolute;
    margin: 26px 0px 0px 18px;
    border-radius: 100%;
    transition: border 0.7s ease
}
.steps label:hover{
    background: #2B2E30;
    color: #46b7e5
}
.steps label:hover:before{
    border: 1px solid #46b7e5;
}
#op1:checked ~ label[for=op1]:before,
#op2:checked ~ label[for=op2]:before,
#op3:checked ~ label[for=op3]:before{
    border: 2px solid #96c93c;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAHCAYAAAA1WQxeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGFJREFUeNpinHLMhgEHKADia0xQThIQs6JJ9gPxZhYQAcS6QHwDiI8hSYJAC0gBPxDLAvFcIJ6JJJkDxFNBVtgBcQ8Qa6BLghgwN4A4a9ElQYAFSj8C4mwg3o8sCQIAAQYA78QTYqnPZuEAAAAASUVORK5CYII=') no-repeat center center;
}

