<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="config.closeModal()">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar Zona</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" id="Nombre" ng-model="editData.name" required>
            </div>
            <label for="Direccion">Direccion</label>
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" id="Direccion" ng-model="editData.address">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-info btn-flat" ng-click="config.searchAdress()">Buscar!
                      </button>
                    </span>
            </div>

            <div class="form-group">
                <label for="price">Precio</label>
                <input type="price" class="form-control" id="price" ng-model="editData.price" min="1">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="longitude">Longitud</label>
                        <input type="number" class="form-control" id="longitude" ng-model="editData.longitude"
                               disabled>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="latitud">Latitud</label>
                        <input type="number" class="form-control" id="latitud" ng-model="editData.latitude"
                               disabled>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label for="radius">Radio</label>
                <input type="number" class="form-control" id="radius" ng-model="editData.radius" min="1">
            </div>


            <div class="row">
                <br/>
                <div class="col-lg-12">
                    <leaflet height="200px" markers="config.map.markers" center="config.map.center" width="100%"
                             defaults="config.map.defaults" paths="config.map.paths"></leaflet>

                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="config.closeModal()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="config.actions.update()">Guardar</button>
        </div>
    </form>

</div>