<section class="content-header">
    <h1>
        Zonas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Zonass</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <leaflet  markers="map.markers" center="map.center" width="100%" height="600px"
                      defaults="map.defaults" paths="map.paths" controls="map.controls" layers="map.layers"></leaflet>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <sp-query config="dataView"></sp-query>
        </div>
    </div>
</section>

