body {
    font-size: 15px !important;
    font-family: 'WSUI-light' !important;
    color: #ffffff !important;
}

/***************************************
  $FONTS
***************************************/
/**
* ChunkFiveEx Regular
*/
@font-face {
    font-family: 'CFE-regular';
    src: url(../assets/ChunkfiveEx.ttf);
}
/**
* WeblySleek UI SemiBold
*/
@font-face {
    font-family: 'WSUI-semibold';
    src: url(../assets/weblysleekuisb.ttf);
}

/**
* WeblySleek UI Regular 
*/
@font-face {
    font-family: 'WSUI-light';
    src: url(../assets/weblysleekuil.ttf);
}

@font-face {
    font-family: 'hudsonny-serifuploaded_file';
    src: url('../fonts/hudson_ny_serif-webfont.woff2') format('woff2'),
    url('../fonts/hudson_ny_serif-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/***************************************
  $BUTTONS 
***************************************/
.btn-custom {
    border-radius: 8px;
    padding: 10px;
    border: none;
    outline: 0px;
}

.btn-custom-default {
    background: #CACACA;
    color: #7F7F7F;
}

.btn-custom-default:hover, .btn-custom-primary {
    background: #99791C;
    color: #000000;
}

.btn-circle {
    border-radius: 50%;
    border: 1px solid
}

.btn-circle.btn-medium {
    width: 44px;
    height: 44px;
}

.btn-circle.btn-gray {
    border-color: #7F7F7F;
}

.btn-white {
    font-family: 'hudsonny-serifuploaded_file';
    color: #000000;
    height: 40px;
    border: 1px solid #7F7F7F;
    border-radius: 4px;
    cursor: pointer
}

.btn-white:hover {
    background-color: #99791C;
    border-color: #99791C;
}

/***************************************
  $HEADING
***************************************/
.heading-2-chuncked, .content-nav-title h2 {
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 48px;
}

.heading-2-confirmation, .content-searh-result h2 {
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 30px;
}

.heading-3, .content-nav-title h3 {
    font-family: 'WSUI-semibold';
    font-size: 25px;
}

/***************************************
  $LAYOUT
***************************************/
.wrapper {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

/***************************************
  $NAVBAR
***************************************/
.navbar {
    background: #99791C !important;
    border: none !important;
    position: fixed;
    z-index: 110;
    width: 100%;
    margin-bottom: 0px !important;
}

.header {
    z-index: 30;
    position: fixed;
    width: 100%;
}

.navbar ul li {
    height: 100%;
    position: relative;
}

.navbar ul li a {
    height: 100%;
    color: #000000 !important;
    font-size: 15px;
    -webkit-transition: background .6s ease-out, color .6s ease-out;
    transition: background .6s ease-out, color .6s ease-out;
}

.navbar ul li.active, .navbar ul li.active a, .navbar ul li:hover, .navbar ul li:hover a {

    background-color: #000000 !important;
    color: white !important;
    -webkit-transition: background .6s ease-in, color .6s ease-in;
    transition: background .6s ease-in, color .6s ease-in;
}

.navbar .container .navbar-header {
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    color: #000000;
}

.navbar .container .navbar-header > img {
    margin-right: 14px;
}

.navbar .container .navbar-header > span {
    font-weight: bold;
}

.navbar .container .navbar-header .navbar-header-email {
    margin-left: 101px;
}

/***************************************
  $HEADER
***************************************/
.header {
    height: 143px;
    background: #1A1D24;
    border-bottom: 1px solid #000000;
}

.img-logo {
    background-image: url(../img/logo.png);
    background-position: center;
    height: 143px;
    background-size: contain;
    background-repeat: no-repeat;
}

.input-search-header {
    background-color: transparent !important;
    border-width: 0 0 1px 0 !important;
    border-radius: 0px !important;
    border-color: #99791C !important;
    outline: 0 !important;
    color: #99791C !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.input-search-header:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.input-search-header .autocomplete__icon {
    display: none;
}

.input-search-header input {
    background-color: inherit !important;
}

.autocomplete__results {
    top: 33px !important;
}

.search-group .input-group-btn .btn {
    color: #99791C !important;
    background-color: transparent;
    border-width: 0 0 1px 0 !important;
    border-radius: 0px !important;
    border-color: #99791C !important;
    height: 34px;
}

.user-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tooltip-count-cart {
    position: absolute;
    background-color: #99791C;
    color: black;
    border-radius: 50%;
    font-size: 9px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-top: 5px;
    top: -4px;
    right: -4px;
}

.perfil-header {
    text-align: right
}

.perfil-header .perfil-header-yellow {
    color: #99791C !important;
}

.main {
    height: auto;
    margin-top: 143px;
}

.main.background {
    background-color: rgba(255, 255, 255, .2);
}

/***************************************
  $FOOTER
***************************************/
.footer {
    background-color: #0e0f13;
    height: auto;
    padding: 130px 0 30px
}

.footer .footer-item {
    border-left: solid 1px #CACACA;
    height: 120px;
}

.footer .footer-item:first-child {
    border: none;
}

.footer .box-links {
    margin: 10px 0;
    width: 90%;
}

.footer .box-links-item {
    color: #ffffff;
    text-decoration: none;
    text-align: left;
    width: 47%;
}

.footer .social, .footer .content-location {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.footer .btn-custom {
    font-size: 12px;
    width: 110px;
    margin-right: 10px;
    -webkit-transition: background .6s ease-out;
    transition: background .6s ease-out;
}

.footer .btn-custom:hover {
    -webkit-transition: background .6s ease-in;
    transition: background .6s ease-in;
}

.footer .social .icon {
    display: inline-block;
}

.footer .content-social-media {
    margin-top: 10px;
}

.footer .link-social-media {
    margin-right: 10px;
    text-decoration: none;
}

.footer .link-social-media-img {
    width: 30px;
}

.footer .content-logo {
    position: absolute;
    top: -110px;
    left: -24px;
    right: 0;
    margin: auto;
}

.footer .logo-footer {
    width: 120px;
}

.footer .cory-right {
    color: #CACACA;
    font-size: 13px;
}

/***************************************
  $UTILITIES
***************************************/
.background-primary, body, .header, .main {
    background: rgba(0, 0, 0, 1);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 1)), color-stop(0%, rgba(0, 0, 0, 1)), color-stop(0%, rgba(0, 0, 0, 1)), color-stop(87%, rgba(70, 73, 91, 1)), color-stop(100%, rgba(70, 73, 91, 1)));
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), color-stop(0%, rgba(0, 0, 0, 1)), color-stop(0%, rgba(0, 0, 0, 1)), color-stop(87%, rgba(70, 73, 91, 1)), to(rgba(70, 73, 91, 1)));
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(70, 73, 91, 1) 87%, rgba(70, 73, 91, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#46495b', GradientType=1);
}

/***************************************
  $FLEXBOX
***************************************/
/**
* Column Elements
* Vertical Alignment Center
* Horizontal Alignment Left
*/
.module-flex-column-center-left, .content-info-profile, .box-bar-filter-selected, .info-compras .location .my-location .my-location-item .address-input-text, .pago-compras, .pago-compras .metodo-pago, .resumen-compras .resumen-compra-box .col-md-6, .resumen-compras .resumen-compra-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/**
* Column Elements
* Vertical Alignment Top
* Horizontal Alignment Left
*/
.module-flex-column-top-left, .content-full-info .location .icon, .total-compras .col-md-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/**
* Column Elements
* Vertical Alignment Center
* Horizontal Alignment Center
*/
.module-flex-column-center-center, .btn-white, header .container, .content-nav-tabs .nav-tabs.nav-tabs-center, .content-info-profile .box-name-user, .content-filter .box-search, .box-filter-selected, .producto .producto-image, .resumen-compras .resumen-compra-box .resumen-compra-image, .cupon-compras .content-cupon-box, .cupon-compras .content-cupon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
* Column Elements
* Vertical Alignment top
* Horizontal space between
*/
.module-flex-column-top-space-between, .footer .box-links, .content-full-info .location .my-location, .content-full-info .location .actions {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

/**
* Column Elements
* Vertical Alignment Center
* Horizontal Alignment Center
*/
.module-flex-column-center-center, .btn-white, header .container, .content-nav-tabs .nav-tabs.nav-tabs-center, .content-info-profile .box-name-user, .content-filter .box-search, .box-filter-selected, .producto .producto-image, .resumen-compras .resumen-compra-box .resumen-compra-image, .cupon-compras .content-cupon-box, .cupon-compras .content-cupon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
* Rows Elements
* Vertical Alignment Center
* Horizontal Alignment Left
*/
.module-flex-rows-center-left, .resumen-compras .resumen-compra-box .resumen-compra-image-text {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/**
* Rows Elements
* Vertical Alignment Center
* Horizontal Alignment Center
*/
.module-flex-rows-center-center, .footer .content-links, .box-product-result .box-product-result-item, .producto {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
* Rows Elements
* Vertical Alignment top
* Horizontal Alignment Center
*/
.module-flex-rows-top-center {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

/***************************************
  $MENU TABS
***************************************/
.content-nav-tabs .tab-content {
    padding: 35px 0;
}

.content-nav-tabs .nav-tabs {
    border: none !important;
    position: relative;
    bottom: -2px;
}

.content-nav-tabs .nav-tabs.nav-tabs-center li {
    float: unset !important;
}

.content-nav-tabs .tab-content {
    border-top: solid 3px rgba(202, 202, 202, .11);
}

.content-nav-tabs li.active a, .content-nav-tabs li a:hover, .content-nav-tabs li a:focus {
    color: #ffffff !important;
    -webkit-transition: color 1s ease-in;
    transition: color 1s ease-in;
}

.content-nav-tabs li {
    -webkit-transition: border 1s ease-out;
    transition: border 1s ease-out;
}

.content-nav-tabs li.active, .content-nav-tabs li:hover {
    -webkit-transition: border 1s ease-in;
    transition: border 1s ease-in;
    border-bottom: 3px solid #99791C !important;
}

.content-nav-tabs a {
    -webkit-transition: color 1s ease-out;
    transition: color 1s ease-out;
    background-color: transparent !important;
    border: none !important;
    color: #949494;
    text-transform: capitalize;
}

.content-nav-tabs .category {
    color: inherit;
    text-transform: capitalize;
}

/***************************************
  $BACKGROUND RGB ALFA
***************************************/
.background-alfa, .content-filter .box-search {
    background-color: rgba(255, 255, 255, .2);
}

/***************************************
  $CHECKBOX
***************************************/
.container-check {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 145px;
    font-size: 12px
}

.container-check input { /* position: absolute; */
    opacity: 0;
    cursor: pointer;
    display: none;
}

.container-check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #99791C;
}

.container-check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-check input:checked ~ .checkmark:after {
    display: block;
}

.container-check .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

/***************************************
  $RADIO BUTTON
***************************************/
.container-radio {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'hudsonny-serifuploaded_file';
    margin: 0 20px 0 0;
}

.container-radio input {
    /*position: absolute;*/
    display: none;
    opacity: 0;
    cursor: pointer;
}

.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #99791C;
}

.container-radio:hover input ~ .checkmark {
    border: 1px solid var (--colorGold);
}

.container-radio input:checked ~ .checkmark {
    border: 1px solid var (--colorGold);
}

.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked ~ .checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #99791C;
}

/***************************************
  $AVATAR
***************************************/
.avatar-small {
    width: 100px;
}

/***************************************
  $PAGINATION
***************************************/
.box-pagination {
    clear: both
}

.box-pagination .pagination li a {
    color: #ffffff;
}

.box-pagination .pagination li.active a {
    border: solid 1px #99791C !important;
    border-radius: 20px;
}

/***************************************
  $SHADOW
***************************************/
.box-shadow-bottom, .header {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .75);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .75);
}

/***************************************
  $PROFILE PERFIL
***************************************/
.content-info-profile {
    height: 100%;
    width: 100%
}

.content-info-profile img {
    margin-right: 40px;
}

.content-info-profile .name-user {
    margin-right: 10px;
}

.content-info-profile .points {
    color: #CACACA;
}

.content-info-profile .name-user {
    font-family: 'hudsonny-serifuploaded_file' !important;
    font-size: 16px !important;
}

.content-full-info {
    padding-top: 40px
}

.content-full-info .table-info-user {
    width: 100%;
}

.content-full-info .table-info-user td {
    padding: 15px 0;
    vertical-align: middle;
}

.new-font {
    font-family: 'hudsonny-serifuploaded_file'
}

.content-full-info .table-info-user .title-info-user {
    font-family: 'hudsonny-serifuploaded_file';
    color: #CACACA;
}

.content-full-info .location {
    height: 100%;
    width: 100%;
    margin-left: 90px;
}

.content-full-info .location .title {
    font-size: 16px;
}

.content-full-info .location .box-my-locations {
    margin-top: 28px;
}

.content-full-info .location .subtitle {
    font-size: 16px;
    color: #CACACA;
}

.content-full-info .location .my-location {
    justify-content: space-between;
    margin: 20px 0;
}

.content-full-info .location .my-location-item {
    width: 315px;
}

.content-full-info .location .place {
    font-size: 14px;
}

.content-full-info .location .actions {
    width: 100px;
}

.content-full-info .location .update, .content-full-info .location .delete {
    cursor: pointer;
    font-size: 14px;
}

.content-full-info .location .update {
    color: #99791C;
}

.content-full-info .location .delete {
    color: #FF4D2B;
}

.content-full-info .location .add-address {
    color: #99791C;
    cursor: pointer;
}

.content-full-info .location .add-address:before {
    display: inline-block;
    content: "+";
    color: #99791C;
}

/***************************************
  $FILTER BUSQUEDA
***************************************/
.content-filter {
    width: 100%
}

.content-filter .title-section {
    margin: 0;
    font-family: 'hudsonny-serifuploaded_file';
    font-weight: 100 !important;
}

.content-filter .box-filter {
    padding: 0 0 10px 15px;
    border-bottom: solid 1px #CACACA;
    margin: 0 0 10px;
}

.content-filter .box-filter-select {
    text-transform: uppercase;
    color: #99791C;
    position: relative;
}

/*.content-filter .box-filter-select:after {
    width: 20px;
    height: 10px;
    content: "+";
    font-size: 14px;
    color: #99791C;
    position: absolute;
    right: -6px;
    top: 2px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
}*/

.content-filter .box-type-select {
    margin: 0;
    padding: 0 0 0 25px;
    display: none;
}

.content-filter .box-type-select li {
    list-style: none;
    padding: 5px 0;
    border-bottom: none !important;
    cursor: pointer;
}

.content-filter .box-type-select-item {
    color: #CACACA;
    position: relative;
}

.content-filter .box-type-select-item.selected {
    color: #99791C;
}

.content-filter .box-type-select-item.selected:after {
    width: 6px;
    height: 6px;
    content: "";
    font-size: 14px;
    background: #99791C;
    position: absolute;
    left: -12px;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
    display: inline-block;
    border-radius: 50%;
}

.content-filter .box-search {
    height: 27px;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
}

.content-filter .box-search input {
    background: transparent !important;
    border: none;
    width: 100%;
    padding-left: 10px;
    outline: 0;
    color: #CACACA;
}

.content-filter .box-search input::-webkit-input-placeholder {
    color: #CACACA;
}

.content-filter .box-search input:-ms-input-placeholder {
    color: #CACACA;
}

.content-filter .box-search input::-ms-input-placeholder {
    color: #CACACA;
}

.content-filter .box-search input::placeholder {
    color: #CACACA;
}

.content-filter .box-search-icon {
    font-size: 12px;
    right: 10px;
    color: #CACACA;
}

.content-filter .box-filter-range {
    height: 60px;
    position: relative;
    width: 230px;
    margin: 0 auto;
}

.content-filter .box-filter-range-eje {
    height: 1px;
    width: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.content-filter .box-filter-range-item {
    height: inherit;
    width: 30px;
    color: #99791C;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: bold;
}

.content-filter .box-filter-range-item:after {
    width: 20px;
    height: 20px;
    content: "";
    border-radius: 50%;
    background: #000000;
    border: solid 3px #99791C;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: inline-block;
    cursor: pointer;
}

.content-filter .box-filter-range-menor {
    left: -114px;
    right: 0;
}

.content-filter .box-filter-range-mayor {
    left: 0;
    right: -100px;
}

/*
.box-filter.open .box-filter-select:after {
    width: 20px;
    height: 10px;
    content: "X";
    font-size: 14px;
    color: #99791C;
    position: absolute;
    right: -6px;
    top: 2px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
}*/

.box-filter.open ul.box-type-select {
    display: block;
}

.box-bar-filter-selected {
    background: rgba(0, 0, 0, .68);
    color: #CACACA;
    padding: 2px 8px;
    width: 96.4%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-filter-selected {
    margin-left: 8px;
    height: 32px
}

.box-filter-selected .box-filter-selected-item {
    background: #99791C;
    color: #000000;
    border-radius: 10px;
    padding: 2px 15px;
    position: relative;
    font-size: 11px;
    min-width: 76px;
    display: inline-block;
    margin: 0 2px;
}

.box-filter-selected .box-filter-selected-item:after {
    width: 20px;
    height: 10px;
    content: "X";
    font-size: 10px;
    color: #000000;
    position: absolute;
    right: -6px;
    top: 2px;
    margin: auto;
    display: inline-block;
    cursor: pointer;
}

/***************************************
  $FILTER SORT PRICE
***************************************/
.select-sort-price .btn-default:active:focus, .select-sort-price .btn-default:active:hover {
    outline: 0 !important;
    border: none !important;
}

.select-sort-price .dropdown-toggle {
    background: transparent !important;
    outline: 0;
    border: none;
    color: #99791C !important;
    text-transform: uppercase;
}

.select-sort-price .btn .caret {
    color: #CACACA !important;
}

/***************************************
  $PRODUCTS
***************************************/
.box-product-result {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    color: #000000
}

.box-product-result .content-product {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 0;
}

.box-product-result .box-product-result-item {
    background: #ffffff;
    border-radius: 7px;
    width: 180px;
    height: 250px;
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box-product-result .box-promotion-result-item {
    background: #ffffff;
    border-radius: 10px;
    padding: 8px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 95%;
}

.box-promotion-result-item .box-product-result-item-product {
    display: block;
    margin: auto;
}

.box-product-result .box-product-result-item-product {
    margin-bottom: 10px;
}

.box-product-result .box-product-result-item-text-price {
    text-align: center;
    font-weight: bold;
}

.box-product-result .box-product-result-item-text-title {
    text-align: center;
    margin-bottom: 10px;
    width: 150px;
    white-space: pre-line;
    height: 63px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-product-result .box-product-result-btn {
    background: transparent;
    border: solid 1px #7F7F7F;
    border-radius: 2px;
    padding: 0 8px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    outline: 0;
    font-family: 'hudsonny-serifuploaded_file';
}

.box-product-result .box-product-canje-btn {
    background: transparent;
    border: solid 1px #7F7F7F;
    border-radius: 2px;
    padding: 0 8px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    outline: 0;
    font-family: 'hudsonny-serifuploaded_file';
}

.box-product-result .box-product-canje-active-btn {
    background: #99791C;
    border: solid 1px #99791C;
    border-radius: 2px;
    padding: 0 8px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    outline: 0;
    font-family: 'hudsonny-serifuploaded_file';
}

.box-product-result .box-product-result-btn:hover {
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    background: #99791C;
    border: solid 1px #99791C;
}

/***************************************
  $COMPRAS
***************************************/
.content-nav-title {
    margin: 50px 0
}

.content-nav-title h2, .content-nav-title h3 {
    margin: 0;
    padding: 0;
}

.content-nav-title h3 {
    color: #7F7F7F;
}

.img-circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    margin-right: 68px;
}

.title-compra {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .7))), url(../assets/bebida.jpg);
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../assets/bebida.jpg);
    background-position: center;
    background-size: cover;
    height: 331px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.title-category {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .7)), to(rgba(0, 0, 0, .7))), url(../assets/bebida.jpg);
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../assets/bebida.jpg);
    background-position: center;
    background-size: cover;
    height: 200px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.content-ubicacion {
    height: auto;
    overflow: hidden;
}

.subtitle-compras-sub {
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 16px;
    margin: 30px 10px;
    text-transform: uppercase
}

.subtitle-compras-sub.font-gray {
    color: #7F7F7F;
}

.content-compras {
    background-color: rgba(255, 255, 255, .2);
    padding-top: 58px;
    padding-bottom: 151px;
    clear: both
}

.content-compras .subtitle_compras {
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 25px;
    padding-bottom: 34px;
    border-bottom: 1px solid #7F7F7F;
}

.box-direction {
    width: 100%;
    height: 248px;
}

.interes-col {
    width: 100%;
}

.producto {
    background-color: white;
    margin: 35px auto 0;
    float: none !important;
    border-radius: 4px;
    padding: 23px 10px;
    color: #000000
}

.producto .producto-image {
    width: 100%;
    height: 170px;
}

.producto .img-product {
    max-width: 200px;
}

.producto .producto-precio {
    font-size: 25px;
    font-family: 'hudsonny-serifuploaded_file';
}

.producto .producto-titulo {
    font-size: 20px;
    font-family: 'WSUI-light';
    margin: 10px 0 42px;
}

.producto .btn-white {
    width: 150px;
    font-size: 16px;
    -webkit-transition: background .6s ease-out;
    transition: background .6s ease-out;
}

.producto .btn-white:hover {
    -webkit-transition: background .6s ease-in;
    transition: background .6s ease-in;
}

.info-compras {
    padding: 0px !important
}

.info-compras .location {
    margin-left: 0px;
}

.info-compras .location .icon-checkbox {
    margin-right: 15px;
}

.info-compras .location .my-location {
    justify-content: start !important;
    padding-left: 10px;
}

.info-compras .location .my-location .my-location-item {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.info-compras .location .my-location .my-location-item .address {
    font-family: 'hudsonny-serifuploaded_file';
}

.info-compras .location .my-location .my-location-item .address-input {
    width: 83px;
    border-bottom: 1px solid #7F7F7F;
    margin: 0 4px;
}

.info-compras .location .my-location .my-location-item .address-input input {
    outline: 0;
    border: 0px;
    background: transparent;
    color: white;
    font-size: 14px;
}

.info-compras .location .my-location .my-location-item .address-input-select {
    width: 236px;
    border-bottom: 1px solid #7F7F7F;
    margin: 0 4px 0 20px;
}

.info-compras .location .my-location .my-location-item .address-input-text {
    width: 236px;
    border-bottom: 0px !important;
    margin: 0 4px 0 20px;
}

.info-compras .location .my-location:nth-child(1) .my-location-item, .info-compras .location .my-location:nth-child(2) .my-location-item {
    /* display: flex;
     flex-direction: column;*/
}

.description-compras {
    width: 100%
}

.description-compras .description-compras-title {
    text-transform: uppercase;
    padding-left: 5px;
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 14px;
}

.description-compras .description-compras-text textarea#address-4 {
    resize: none;
    width: 100%;
    background: transparent;
    outline: 0;
    border: 0px;
    border-bottom: 1px solid #7F7F7F;
}

.pago-compras {
    width: 100%;
    height: 102px;
    border-bottom: 1px solid #7F7F7F;
    border-top: 1px solid #7F7F7F;
    margin-top: 26px

}

.pago-compras .metodo-pago-title {
    font-family: 'hudsonny-serifuploaded_file';
    text-transform: uppercase;
    padding-left: 5px;
    margin-right: 51px;
}

.resumen-compras .resumen-compras-title {
    text-transform: uppercase;
    padding-left: 5px;
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 14px;
    margin: 45px 0;
}

.resumen-compras .resumen-compra-box-title {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-transform: uppercase;
    padding-bottom: 15px;
    color: #7F7F7F;
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 14px;
    text-align: center;
    border-bottom: 1px solid #7F7F7F;
}

.resumen-compras .resumen-compra-box-title .col-md-6 {
    text-align: left;
}

.resumen-compras .resumen-compra-box {
    width: 100%;
    height: 137px;
    border-bottom: 1px solid #7F7F7F;
}

.resumen-compras .resumen-compra-box .resumen-compra-image {
    width: 122px;
    min-width: 122px;
    height: 122px;
    background-color: white;
}

.resumen-compras .resumen-compra-box .img-resumen-compra {
    max-width: 90px;
}

.resumen-compras .resumen-compra-box .resumen-compra-image-text {
    margin-left: 28px;
}

.resumen-compras .resumen-compra-box .resumen-compra-image-text .image-text-nombre {
    font-family: 'hudsonny-serifuploaded_file';
}

.resumen-compras .resumen-compra-box .resumen-compra-image-text .image-text-action {
    cursor: pointer;
    text-decoration: underline;
    color: #FF4D2B;
}

.total-compras {
    margin: 30px 0;
    height: auto;
    overflow: hidden
}

.total-compras .col-md-8 .cupon-text {
    font-family: 'hudsonny-serifuploaded_file';
    color: #7F7F7F;
    text-transform: uppercase;
    margin-right: 35px;
}

.total-compras .col-md-8 .cupon-input {
    border-bottom: 1px solid #7F7F7F;
}

.total-compras .col-md-8 .cupon-input input {
    text-transform: uppercase;
    color: #99791C;
    background: transparent;
    border: 0px;
    padding: 0 10px;
    font-size: 14px;
    outline: 0;
}

.total-compras .col-md-4 .total-text {
    font-family: 'hudsonny-serifuploaded_file';
    color: #7F7F7F;
}

.total-compras .col-md-4 .divisor-total {
    width: 100%;
    height: 1px;
    background-color: #7F7F7F;
    margin: 10px 0 15px;
}

.total-compras .col-md-4 .total-amount {
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 20px;
}

.total-compras .col-md-4 .total-amount-total {
    color: #99791C;
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 20px;
}

.cupon-compras .content-cupon-box {
    width: 100%;
    height: 117px;
    border-top: 1px solid #CACACA;
    border-radius: 4px 4px 0 0;
    background-color: #7F7F7F;
    color: white;
    font-size: 18px;
}

.cupon-compras .content-cupon-box span {
    font-family: 'hudsonny-serifuploaded_file';
    margin-left: 8px;
}

.cupon-compras .content-cupon-btn {
    width: 100%;
    height: 68px;
    color: #000000;
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 18px;
    background-color: #99791C;
    border-bottom: 7px solid #9e8c1e;
    border-radius: 0 0 4px 4px;
    cursor: pointer;
}

.content-searh-result {
    margin: 0 0 35px
}

.content-filter h3 {
    font-size: 25px;
    font-weight: bold;
}

.box-filter-select {
    margin-top: 10px;
}

.box-filter.prices .box-filter-select:after {
    display: none;
}

.box-filter.types {
    border-bottom: none;
}

.content-main {
    margin-top: 8px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(70, 73, 91, 1) 87%, rgba(70, 73, 91, 1) 100%);
}

.img-carousel {
    display: block;
    margin: auto;
    height: 600px;
}

.item-carousel-description {
    height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 100%;
    top: 0;
}

.item-carousel-description-content {
    margin-top: 150px;
    margin-left: 10vw;
}

.item-carousel-description-content h3 {
    margin: 0;
}

.item-carousel-description-content .yellow {
    color: #99791C;
}

.item-carousel {
    background-color: rgba(0, 0, 0, 0.5);
}

.item-carousel-title {
    margin-top: 2px;
    font-family: 'hudsonny-serifuploaded_file';
    font-size: 48px;
}

.item-carousel-text {
    width: 400px;
}

.item-carousel-button {
    background-color: inherit;
    padding: 5px 50px 9px 50px;
    border: 1px solid #99791C;
    border-radius: 18px;
    margin-top: 10px;
}

.item-carousel-button:focus {
    outline: none;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-40 {
    margin-top: 40px;
}

.home-owl-carousel {
    height: 100px !important;
    width: auto !important;
}

.modal-body {
    padding: 0;
    padding-top: 20px;
}

.modal-body p {
    color: #000000;
}

.modal-body h2 {
    text-align: center;
    color: #000000;
}

.modal-body h3 {
    color: #000000;
}

.modal-body label {
    color: #cdcdcd;
}

.modal-body .form {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 22px;
}

.modal-body .form-group input {
    cursor: auto;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 0;
}

.btn-login {
    background-color: #99791C;
    color: #000;
    font-size: 18px !important;
    font-family: 'hudsonny-serifuploaded_file';
    padding-left: 30px;
    padding-right: 30px;
}

.fb-signin-button {
    display: inline-block;
    padding: 13px 11px;
    border-radius: 3px;
    /* background-color: #4267b2; */
    color: #4267b2;
    width: 100%;
    text-align: center;
    border: 1px solid #cdcdcd;
    font-weight: 500;
    margin-top: 15px;
}

.fb-signin-button svg {
    position: relative;
    left: -129px;
    top: 3px;
}

.fb-signin-button #Layer_1 path {
    fill: #4267b2;
}

.fb-signin-button:hover #Layer_1 path {
    fill: #fff;
}

.fb-signin-button:hover {
    background-color: #4267b2;
    color: #fff;
}

.g-signin-button {
    /* This is where you control how the button looks. Be creative! */
    display: inline-block;
    border-radius: 3px;
    color: #DA463A;
    border: 1px solid #cdcdcd;

    padding: 13px 11px;
    border-radius: 3px;
    /* background-color: #4267b2; */
    width: 100%;
    text-align: center;
    font-weight: 500;
    margin-top: 15px;

}

.g-signin-button svg {
    position: relative;
    left: -129px;
    top: 3px;
}

.g-signin-button #Layer_2 path {
    fill: #DA463A;
}

.g-signin-button #Layer_2 rect {
    fill: #DA463A;
}

.g-signin-button:hover #Layer_2 path {
    fill: #fff;
}

.g-signin-button:hover #Layer_2 rect {
    fill: #fff;
}

.g-signin-button:hover {
    background-color: #DA463A;
    color: #fff;
}

.error {
    color: #DA463A !important;
    font-weight: bold;
    height: 1.5em;
    margin: 0;
}

.img-profile {
    display: block;
    margin: auto;
    background-color: #9d9d9d;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.popover-content {
    color: #000;
    padding: 0;
}

.popover-content h3 {
    font-size: 18px !important;
    font-family: 'hudsonny-serifuploaded_file';
    margin: 0;
    padding: 0;
    padding-top: 15px;
    text-align: center;
}

.popover-content .name {
    text-align: center;
}

.popover-content ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.popover-content li {
    width: 100%;
    padding: 11px;
    padding-left: 20px;
}

.popover-content li:hover {
    background-color: #f2f2f2;
}

.product-image {
    height: 300px;
    display: block;
    margin: auto;
    max-width: 99%
}

.modal-body h4 {
    font-size: 30px !important;
    font-family: 'hudsonny-serifuploaded_file';
    margin: 0;
    padding: 0;
    padding-top: 15px;
    color: #000
}

.product-price {
    font-weight: bold;
    font-family: 'WSUI-light' !important;
    font-size: xx-large;
}

.modal-body .add-to-cart {
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .2);
    background-color: #99791C;
    color: #000;
    border: solid 1px #99791C;
    border-radius: 10px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    outline: 0;
    font-family: 'hudsonny-serifuploaded_file';
    padding: 10px 15px 10px 15px !important;
    margin-top: 7px;
}

.modal-body .add-to-cart:hover {
    opacity: 0.6;
}

.owl-prev span {
    color: #fff;
    font-size: 6em;
    position: absolute;
    top: 39px;
    left: -20px;
}

.owl-next span {
    color: #fff;
    font-size: 6em;
    position: absolute;
    top: 39px;
    right: -20px;
}

.order-content {
    height: 300px;
    width: 270px;
    overflow-y: scroll;
    overflow-x: hidden;

}

.order-content::-webkit-scrollbar {
    width: 12px;
}

/* Track */
.order-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
.order-content::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #4D4D4D;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.order-content::-webkit-scrollbar-thumb:window-inactive {
    background: #4D4D4D;
}

.order-preview-image {
    display: block;
    margin: auto;
    height: 70px;
    max-width: 99%;
}

.order-preview-product {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}

.order-preview-button {
    background-color: inherit;
    color: #fff;
    width: 100%;
    border: solid 1px #fff;
    border-radius: 2px;
    padding: 0 8px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    outline: 0;
    font-family: 'hudsonny-serifuploaded_file';
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 7px;
}

.order-footer {
    background-color: #99791C;
    color: #000;
    border: solid 1px #99791C;
    border-radius: 2px;
    padding: 0 8px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    outline: 0;
    font-family: 'hudsonny-serifuploaded_file';
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 17px;
}

.boxValidateAge {
    margin-top: 45px;
    margin-bottom: 35px;
}

.validateAge {
    color: #000;
    text-align: center;
    border: none;
    border-bottom: 1px #cdcdcd solid;
    width: 100%;
}

.validateAge::-webkit-inner-spin-button,
.validateAge::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.validateAge {
    -moz-appearance: textfield;
}

.validate-age-button {
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, .2);
    background-color: #99791C;
    color: #000;
    border: solid 1px #99791C;
    border-radius: 2px;
    padding: 0 8px;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
    outline: 0;
    font-family: 'hudsonny-serifuploaded_file';
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    margin-top: 25px;
    margin-bottom: 28px;
}

.padding-left-30 {
    padding-left: 30px;
}

.padding-right-30 {
    padding-right: 30px;
}

.select-event {
    width: 100%;
    background-color: inherit;
    color: #000;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    font-size: 19px;
    margin-top: 3px;
    margin-bottom: 13px;
}

.carousel-indicators .active {
    width: 15px;
    height: 15px;
    margin: 0;
    background-color: #99791C;
}

.carousel-indicators li {
    display: inline-block;
    width: 14px;
    height: 15px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 10px;
}

.footer-login {
    background-color: #333;
    height: 90px;
    text-align: left;
    color: #fff;
    padding-left: 55px;
    padding-top: 15px;
    border-bottom-radius: 20px;
}

.modal-footer {
    padding: 0 !important;
    background-color: transparent;
}

.modal-content {
    border-radius: 20px;
    padding: 10px;
}

.alert {
    z-index: 300 !important;
}

#promotion-modal .modal-content {
    background-image: url(../img/3jjj-2.jpg);
    background-color: #edf1f4;
    height: 400px;
    background-size: 50%;
    background-repeat: no-repeat;
    padding: 45px;
    padding-top: 0;
    color: #000000 !important;
    padding: 10px;
    background-position: 100%;
}

}
#modal-register .modal-content {
    padding: 0 0 20px 0 !important;
}

#modal-login .modal-content {
    padding: 0 !important;
}

.form-reset input {
    background-color: inherit;
    border: none;
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #fff;
}

a {
    color: initial;
    text-decoration: none;
}

.profile-input-edit {
    resize: none;
    width: 100%;
    background: transparent;
    outline: 0px;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: solid;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: rgb(127, 127, 127);
    border-left-color: initial;
    border-image: initial;
}

.form-number::-webkit-inner-spin-button,
.form-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-number {
    -moz-appearance: textfield;
}

.address-selector-options {
    width: 99%;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid rgb(127, 127, 127);
}

.address-selector-options option {
    color: #000000;
}

.modal-header {
    padding: 4px 15px 0px 0px !important;
    border: none !important;
}

.modal-body {
    padding-top: 0 !important;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #99791C; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: block;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}