<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Confirmar Pedido</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Tiempo Estimado</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="tiempo">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Valor de Domicilio</label>

                <div class="col-sm-10">
                    <input type="number" class="form-control" id="inputPassword3" placeholder="domicilio">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-default" ng-click="closeModal()">Cancela</button>
            <button type="submit" class="btn btn-info pull-right" ng-click="updateOrder()">Confirmar</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>