<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{values.new}}</h3>

                    <p>Nuevos pedidos</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <!--a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a-->
            </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{values.route}}</h3>

                    <p>Pedidos enviados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-bicycle"></i>
                </div>
                <!--a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a-->
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{values.completed}}</h3>

                    <p>Pedidos completados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-checkmark"></i>
                </div>
                <!--a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a-->
            </div>
        </div>

        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{values.canceled}}</h3>

                    <p>Pedidos cancelados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-close"></i>
                </div>
                <!--a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a-->
            </div>
        </div>
        <!-- ./col -->
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <div class="box box-success">
                <div class="box-header">
                    <i class="ion ion-ios-cart"></i>

                    <h3 class="box-title">Ultimos pedidos</h3>

                    <div class="box-tools pull-right" data-toggle="tooltip" title="Estado">
                        <div class="btn-group" data-toggle="btn-toggle">

                        </div>
                    </div>
                </div>
                <div class="box-body chat" id="chat-box" style="height: 600px;overflow: auto;">
                    <div class="row " ng-repeat="order in new | orderBy:order.id:true"
                         style="border-bottom: solid 1px #000;margin-bottom: 2px;padding-bottom: 4px;">
                        <div class="col-sm-4">
                            #{{order.id}}
                        </div>
                        <div class="col-sm-4">
                            {{order.total | currency}}
                        </div>
                        <div class="col-sm-1">
                            <button data-toggle="tooltip" data-placement="top" title="Ubicar punto"
                                    ng-click="viewOrder(order.id)"
                                    class="btn btn-default btn-sm"><i
                                    class="fa fa-map-marker"></i></button>
                        </div>
                        <div class="col-sm-1">
                            <button data-toggle="tooltip" data-placement="top" title="Ver"
                                    ng-click="openOrder(order.id)"
                                    class="btn btn-primary btn-sm"><i
                                    class="fa fa-eye"></i></button>
                        </div>
                        <div class="col-sm-1">
                            <button type="button" class="btn btn-default btn-sm active">
                                <i class="fa fa-square text-blue" ng-if="order.order_status_id==1"></i>
                                <i class="fa fa-square text-orange" ng-if="order.order_status_id==2"></i>
                                <i class="fa fa-square text-red" ng-if="order.order_status_id==5"></i>
                            </button>
                        </div>

                    </div>
                </div>
                <!-- /.chat -->
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <leaflet height="600px" markers="map.markers" center="map.center" width="100%"
                     defaults="map.defaults" paths="map.paths" controls="map.controls" layers="map.layers"></leaflet>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Historial de pedidos</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <sp-query config="dataViewOrders"></sp-query>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</section>
