<div class="row">
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-globe"></i> Licorera 3JJJ'S.
                    <small class="pull-right">Fecha: {{order.created_at}}</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                Para
                <address>
                    <strong>{{order.client.name}}</strong><br>
                    {{order.address}}<br>
                    Telefono: {{order.client.cellphone}}<br>
                    Email: {{order.client.email}}
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Telefono:</b> {{order.phone}}<br/>
                Instrucciones
                <address>
                    {{order.instructions}}
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
                <b>Pedido #{{order.id}}</b><br/>
                <b>Zona :</b>{{order.delivery_zone}}<br/>
                <b>Tiempo :</b>{{order.delivery_time}} minutos<br/>
                <b>Metodo de pago :</b>{{order.pay_method}}


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>un</th>
                        <th>Producto</th>
                        <th>Serial #</th>
                        <th>Valor Un.</th>
                        <th>Puntos (J)</th>
                        <th>Subtotal ($)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="product in order.products">
                        <td>{{product.quantity}}</td>
                        <td>{{product.store.product.name}}</td>
                        <td>{{product.store.product.serial}}</td>
                        <td>{{product.store.price | currency}}</td>
                        <td>{{product.store.points}}</td>
                        <td>{{(product.subtotal) | currency}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Anotaciones:</p>
                <p ng-bind-html="order.description"></p>
                <h2 ng-if="order.order_status_id==5 ">Cancelado por el usuario</h2>


                <!--img src="../../dist/img/credit/visa.png" alt="Visa">
                <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                <img src="../../dist/img/credit/american-express.png" alt="American Express">
                <img src="../../dist/img/credit/paypal2.png" alt="Paypal"-->

            </div>
            <!-- /.col -->
            <div class="col-xs-6">

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Subtotal:</th>
                            <td>{{order.amount | currency}}</td>
                        </tr>
                        <tr>
                            <th>Codigo</th>
                            <td>{{order.code}}</td>
                        </tr>
                        <tr>
                            <th>Puntos(J):</th>
                            <td>{{order.points}}</td>
                        </tr>
                        <tr>
                            <th>Valor domicilio(J):</th>
                            <td>{{order.delivery_value | currency}}</td>
                        </tr>
                        <tr>
                            <th>Total:</th>
                            <td>{{order.total | currency}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">
                <button type="button" class="btn btn-default pull-left" style="margin-right: 5px;"
                        ng-click="printOrder(order.id)">
                    <i class="fa fa-print"></i> Imprimir
                </button>
                <button ng-if="order.order_status_id==1" type="button" class="btn btn-warning pull-right" style="margin-right: 5px;" ng-click="sendOrder(order.id)">
                    <i class="fa fa-motorcycle"></i> Enviar Pedido
                </button>
                <button ng-if="order.order_status_id==2" type="button" class="btn btn-success pull-right" style="margin-right: 5px;" ng-click="completeOrder(order.id)">
                    <i class="fa fa-motorcycle"></i> Completar Pedido
                </button>
                <button ng-if="order.order_status_id<3 " type="button" class="btn btn-danger pull-right" ng-click="cancelOrder(order.id)"><i class="fa fa-clone"></i> Cancelar Pedido
                </button>
                <button ng-if="order.order_status_id==5 " type="button" class="btn btn-danger pull-right" ng-click="removeOrder(order.id)"><i class="fa fa-clone"></i> Remover
                </button>
            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>