<div class="modal-body">
    <p>¿Estas seguro de eliminar este registro?</p>
    <button class="btn btn-success" type="button" ng-click="ok()">SI</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">NO</button>
</div>
</div>



