<div class="modal-content">
    <form ng-submit="config.actions.update()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    ng-click="config.closeModal()"><span
                    aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Crear {{config.display}}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div ng-repeat="field in leftFields" ng-switch on="field.type">
                        <div class="form-group " ng-switch-when="input">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <input id="{{field.name}}" type="{{field.format}}" class="form-control"
                                   dynamic-model="'editData.{{field.name}}'"
                                   step="0.1"
                                   ng-required="field.required" ng-disabled="field.disabled"/>
                        </div>

                        <div class="form-group " ng-switch-when="select">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <select id="{{field.name}}" class="form-control"  dynamic-model="'editData.{{field.name}}'"
                                    ng-options="item.id as item.name for item in field.data"  ng-required="field.required" ng-disabled="field.disabled"/></select>
                        </div>

                        <div class="form-group " ng-switch-when="html">
                            <div ng-bind-html="field.html" ng-click="field.action()"></div>
                        </div>

                        <div class="form-group " ng-switch-when="file" style="    margin-bottom: 50px;">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <input type="file" nv-file-select="" uploader="uploader" class="form-control col-md-7 col-xs-12" />

                        </div>
                        <div class="form-group " ng-switch-when="banner" style="    margin-bottom: 50px;">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <input type="file" nv-file-select="" uploader="uploader2" class="form-control col-md-7 col-xs-12" />

                        </div>
                        <div class="form-group " ng-switch-when="textarea">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <textarea id="{{field.name}}" type="{{field.format}}" class="form-control"
                                      dynamic-model="'editData.{{field.name}}'"
                                      ng-required="field.required"></textarea>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div ng-repeat="field in rigthFields" ng-switch on="field.type">
                        <div class="form-group " ng-switch-when="input">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <input id="{{field.name}}" type="{{field.format}}" class="form-control"
                                    dynamic-model="'editData.{{field.name}}'"
                                   step="0.1"
                                   ng-required="field.required" ng-disabled="field.disabled"/>
                        </div>
                        <div class="form-group " ng-switch-when="select">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <select id="{{field.name}}" class="form-control"  dynamic-model="'editData.{{field.name}}'"
                                    ng-options="item.id as item.name for item in field.data"  ng-required="field.required" ng-disabled="field.disabled"/></select>
                        </div>
                        <div class="form-group " ng-switch-when="html">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <div ng-bind-html="field.html" ng-click="field.action()"></div>
                        </div>
                        <div class="form-group " ng-switch-when="file" style="    margin-bottom: 50px;">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <input type="file" nv-file-select="" uploader="uploader" class="form-control col-md-7 col-xs-12" />


                        </div>
                        <div class="form-group " ng-switch-when="textarea">
                            <label for="{{field.name}}">{{field.label}}</label>
                            <textarea id="{{field.name}}" type="{{field.format}}" class="form-control"
                                      dynamic-model="'editData.{{field.name}}'"
                                      ng-required="field.required"></textarea>
                        </div>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-md-6" ng-repeat="field in dinamycFieldsData" ng-switch on="field.field.type">

                    <div class="form-group " ng-switch-when="input">
                        <label for="{{field.name}}">{{field.name}}</label>
                        <input id="{{field.name}}" type="{{field.field.format}}" class="form-control"
                               ng-model="newAgentAdittionalData[field.id]"
                               step="0.1"
                               ng-required="field.required" ng-disabled="field.disabled"/>
                    </div>
                    <div class="form-group " ng-switch-when="input-date">
                        <label for="{{field.name}}"><span class="fa fa-calendar"></span>{{field.name}}</label>
                        <input id="{{field.name}}" type="date" class="form-control"
                               ng-model="newAgentAdittionalData[field.id]"  ng-required="field.required" ng-disabled="field.disabled"/>
                    </div>
                    <div class="form-group " ng-switch-when="input-hour">
                        <label for="{{field.name}}"><span class="fa fa-clock-o"></span>{{field.name}}</label>
                        <input id="{{field.name}}" type="time" class="form-control"
                               ng-model="newAgentAdittionalData[field.id]"  ng-required="field.required" ng-disabled="field.disabled"/>
                    </div>
                    <div class="form-group " ng-switch-when="textarea">
                        <label for="{{field.name}}">{{field.name}}</label>
                    <textarea id="{{field.name}}" type="text" class="form-control"
                              ng-model="newAgentAdittionalData[field.id]"  ng-required="field.required" ng-disabled="field.disabled"/></textarea>
                    </div>


                </div>
                <!-- end dynamic Data -->
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="config.closeModal()">Cancelar</button>
            <button type="submit" class="btn btn-primary" >Guardar</button>
        </div>
    </form>
</div>


