<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{{config.display}}</h3>

        <div class="box-tools pull-right">
            <div class="row"  ng-show="config.searchFields">
                <div class="col-sm-6" style="padding-right: 0;padding-left: 0;">
                    <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="Busqueda" ng-model="textSearch">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
                <div class="col-sm-6" style="padding-left: 0;">
                    <select class="form-control input-sm" ng-model="fieldSearch" ng-options="field as field.display for field in config.searchFields track by field.name">
                        <option value="null" selected disabled>---</option>
                    </select>
                </div>

            </div>


        </div>
        <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" ng-show="createPermission" ng-click="config.actions.openModalCreate()"
                    class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-plus"></i>
            </button>
            <!--div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div-->
            <!-- /.btn-group -->
            <button type="button" class="btn btn-default btn-sm" ng-click="config.query()"><i class="fa fa-refresh"></i>
            </button>
            <div class="pull-right" ng-show="config.paginate">
                {{config.paginate.from}}-{{config.paginate.to}}/{{config.paginate.total}}
                <div class="btn-group">
                    <button type="button" ng-show="config.paginate.current_page > 1"
                            ng-click="config.query(config.paginate.current_page-1)" class="btn btn-default btn-sm"><i
                            class="fa fa-chevron-left"></i></button>
                    <button ng-show="config.paginate.current_page < config.paginate.last_page" type="button"
                            class="btn btn-default btn-sm" ng-click="config.query(config.paginate.current_page+1)"><i
                            class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th ng-repeat="header in displayTitles " colspan="header.colspan">{{header.name}}</th>
                    <th style="width:{{config.headerButtons?config.headerButtons:200}}px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in data">
                    <td ng-repeat="field in displayFields" ng-switch on="field.type">
                        <div ng-switch-when="text" ng-bind="getData(field.id,row,field)">
                        </div>
                        <div ng-switch-when="html" ng-bind-html="field.getHtml(getData(field.id,row,field))"
                        ng-click="field.action(row.id)"></div>
                        <div ng-switch-when="image">
                            <img style="width:15px" ng-src="{{getData(field.id,row,field)}}"
                                 ng-click="showImage(getData(field.id,row,field))">
                        </div>


                    </td>

                    <td>
                        <button ng-repeat="item in config.buttons" data-toggle="tooltip" data-placement="top"
                                title="{{item.title}}" class="{{item.class?item.class:'btn btn-default'}}"
                                ng-click="item.action(row.id)"><i class="{{item.icon}}"></i></button>
                        <button ng-show="readPermission" ng-click="config.actions.read(row.id)" data-toggle="tooltip"
                                data-placement="top" title="Ver" class="btn btn-primary"><i class="fa fa-eye"></i>
                        </button>
                        <button ng-show="updatePermission" ng-click="config.actions.openModalEdit(row.id)"
                                data-toggle="tooltip" data-placement="top" title="Editar" class="btn btn-success"><i
                                class="fa fa-pencil-square"></i></button>
                        <button ng-show="deletePermission" ng-click="config.actions.delete(row.id)"
                                data-toggle="tooltip" data-placement="top" title="Eliminar" class="btn btn-danger"><i
                                class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
            <!-- /.table -->
        </div>
        <!-- /.mail-box-messages -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div class="mailbox-controls">
            <!-- Check all button -->
            <button type="button" ng-show="createPermission" ng-click="config.actions.openModalCreate()"
                    class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-plus"></i>
            </button>
            <!--div class="btn-group">
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
            </div-->
            <!-- /.btn-group -->
            <button type="button" ng-click="config.query()" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i>
            </button>
            <div class="pull-right" ng-show="config.paginate">
                {{config.paginate.from}}-{{config.paginate.to}}/{{config.paginate.total}}
                <div class="btn-group">
                    <button type="button" ng-show="config.paginate.current_page > 1"
                            ng-click="config.query(config.paginate.current_page-1)" class="btn btn-default btn-sm"><i
                            class="fa fa-chevron-left"></i></button>
                    <button ng-show="config.paginate.current_page < config.paginate.last_page" type="button"
                            class="btn btn-default btn-sm" ng-click="config.query(config.paginate.current_page+1)"><i
                            class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
    </div>
</div>
