<section class="content-header">
    <h1>
        Reporte de ventas
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Reporte de ventas</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="startDate">Fecha de inicio</label>
                <input id="startDate" type="datetime-local" class="form-control"
                       ng-model="startDate"
                       ng-required="true"/>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="endDate">Fecha de fin</label>
                <input id="endDate" type="datetime-local" class="form-control"
                       ng-model="endDate"
                       ng-required="true"/>
            </div>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary" ng-click="makeReport()">Generar reporte</button>
        </div>
    </div>
</section>