<section class="content-header">
    <h1>
        Clientes
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Clientes</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-10"></div>
        <div class="col-sm-2" >
            <a class="btn btn-app" ng-click="openPushMasive()">
                <i class="fa fa-bullhorn"></i> Notificación masiva
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <sp-query config="dataView"></sp-query>
        </div>
    </div>
</section>