
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Mensaje push</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form  data-parsley-validate class="form-horizontal form-label-left" ng-submit="pushMasive()">
                    
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="coins">Titulo <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="coins"  maxlength="30"  ng-model="$parent.title" required="required" class="form-control col-md-7 col-xs-12"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="coins">Mensaje <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea id="coins" maxlength="100" ng-model="$parent.message" required="required" class="form-control col-md-7 col-xs-12"/>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="coins">Producto recomendado
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" ng-model="$parent.productId" ng-options="product.store.id as product.name for product in products">
                            </select>
                        </div>

                    </div>

                    
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="button" class="btn btn-primary" ng-click="cancel()">Cancelar</button>
                            <button type="submit" class="btn btn-success">Enviar!</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>