<section class="content-header">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Clientes</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <p><b>Nombres :</b> {{client.name}}</p>
            <p><b>Celular :</b> {{client.cellphone}}</p>
            <p><b>Correo :</b> {{client.email}}</p>
            <p><b>Puntos :</b> {{client.points}}</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <img ng-src="{{client.photo}}" width="100" height="100">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <sp-query config="dataViewOrders"></sp-query>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <sp-query config="dataView2"></sp-query>
        </div>
    </div>
</section>