<section class="content-header">
    <h1>
        Eventos
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
        <li class="active">Eventos</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <sp-query config="dataView"></sp-query>
        </div>
    </div>
</section>