<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="modal.close()">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Producto para promoción</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-4">
                    <div class="has-feedback">
                    <input type="text" class="form-control input-sm" placeholder="Busqueda"
                                       ng-model="$parent.textSearch">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                </div>
                <div class="col-lg-2">
                    <button type="button" class="btn btn-success btn-block" ng-click="search()">Buscar</button>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                    <select class="form-control" ng-model="dataView.newData.store_product_id" ng-options="item.store.id as item.name for item in results"></select>
                </div>
                <div class="col-lg-3">
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="modal.close()">
                Cancelar
            </button>
            <button type="submit" class="btn btn-primary" ng-click="createPromotion(3)">Siguiente</button>

        </div>
    </form>

</div>