<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeModal()">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tipo de Promoción</h4>
    </div>
    <form>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-4">
                    <button type="button" class="btn btn-default btn-block"  ng-click="createPromotion(1)">Combo</button>
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-primary btn-block" ng-click="selectProduct(2)">2x1</button>
                </div>
                <div class="col-lg-4">
                    <button type="button" class="btn btn-success btn-block" ng-click="selectProduct(3)">Descuento</button>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="closeModal()">Cancelar</button>
        </div>
    </form>

</div>