<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="dataView.getScope().closeModal()">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Crear {{config.display}}</h4>
    </div>
    <form ng-submit="dataView.actions.create()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input id="name" type="text" class="form-control"
                               dynamic-model="'dataView.newData.name'"
                               ng-required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="start_date">Fecha de inicio</label>
                        <input id="start_date" type="date" class="form-control"
                               dynamic-model="'dataView.newData.start_date'"/>
                    </div>
                    <div class="form-group">
                        <label for="discount">Descuento</label>
                        <input id="discount" type="number" class="form-control"
                               dynamic-model="'dataView.newData.discount'"
                               ng-required="true"/>
                    </div>
                    <div class="form-group " style="margin-bottom: 50px;">
                        <label for="image">Imagen</label>
                        <input type="file" nv-file-select="" uploader="uploader" id="image"
                               class="form-control col-md-7 col-xs-12"/>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="end_date">Fecha de Fin</label>
                        <input id="end_date" type="date" class="form-control"
                               dynamic-model="'dataView.newData.end_date'"/>
                    </div>
                    <div class="form-group">
                        <label for="quantity_minimal">Cantidad minima</label>
                        <input id="quantity_minimal" type="number" class="form-control"
                               dynamic-model="'dataView.newData.quantity_minimal'"
                               ng-required="true"/>
                    </div>
                    <div class="form-group">
                        <label for="description">Descripción</label>
                            <textarea id="description" type="text" class="form-control"
                                      dynamic-model="'dataView.newData.description'"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="diageo">Patrocinador</label>
                        <input id="diageo" type="checkbox"
                               dynamic-model="'dataView.newData.diageo'"
                               />
                    </div>

                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="dataView.getScope().closeModal()">
                Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
    </form>

</div>